.wrapper {
  --max-content-width: 768px;
  --inline-padding: 12px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(var(--max-content-width) + 2 * var(--inline-padding));
  padding-inline: var(--inline-padding);
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  text-align: center;
  color: #6c757d;
  font-size: 14px;
}
