:root {
  --contentMinWidth: 320px;
  --contentMinHeight: 100vh;
}

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  font-family: "Montserrat", sans-serif;
}

html,
body {
  position: relative;
  min-width: var(--contentMinWidth);
  min-height: var(--contentMinHeight, 100%);
}

body {
  display: flex;
  overscroll-behavior: none;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #ff7700;
  text-decoration: inherit;
}

a:focus-visible {
  border: none;
  outline-color: #ff7700;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-weight: 400;
  color: inherit;

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}

button,
a,
textarea,
input {
  &:focus {
    outline: none;
  }
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  border-spacing: 0;
  background: transparent;
  vertical-align: baseline;
  border-collapse: collapse;
}
